<ion-header>
  <ion-toolbar>
    <ion-title>peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="La Huérfana: el origen" src="assets/img/huerfana2.png" />
    <ion-card-header>
      <ion-card-title>La Huérfana: el origen</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Después de escapar de un centro psiquiátrico en Estonia,
      Esther viaja a Estados Unidos haciéndose pasar por la hija desaparecida
      de una familia adinerada. Sin embargo, surge un giro inesperado que la enfrenta a una madre.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Medieval" src="assets/img/Medieval.png" />
    <ion-card-header>
      <ion-card-title>Medieval</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      La historia del héroe nacional
      checo y uno de los líderes militares más renombrados del país de todos los tiempos, Jan Zizka.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Minions: nace un villano" src="assets/img/minions.png" />
    <ion-card-header>
      <ion-card-title>Minions: nace un villano</ion-card-title>

      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      En los años 70, Gru crece siendo un gran admirador de "Los salvajes seis", un supergrupo de villanos.
      Para demostrarles que puede ser malvado, diseña un plan con la esperanza de formar parte de la banda.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Garra" src="assets/img/garra.png" />
    <ion-card-header>
      <ion-card-title>Garra</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Un cazatalentos de baloncesto sin suerte descubre a un jugador extraordinario en
      Madrid y lo lleva a los Estados Unidos sin haber recibido una autorización previa del
      equipo para el que trabaja.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="El hombre del norte" src="assets/img/delnorte.png" />
    <ion-card-header>

      <ion-card-title>El hombre del norte</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El príncipe Amleth está a punto de convertirse en hombre pero, en ese momento,
      su tío asesina brutalmente a su padre y secuestra a la madre del niño.
      Dos décadas después, Amleth es un vikingo que tiene la misión de salvar a su madre.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Thor: Amor y trueno" src="assets/img/thor.png" />
    <ion-card-header>

      <ion-card-title>Thor: Amor y trueno</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Thor está buscando la paz interior, pero la irrupción de Gorr, el asesino de dioses, le obliga a volver al
      combate.
      Thor recluta a la Reina Valkiria, Korg y su exnovia, Jane Foster, para que lo ayuden a evitar la extinción de los
      dioses.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>

  </ion-card>
  <ion-card>
    <img alt="Sonic 2: La película" src="assets/img/sonic2.png" />
    <ion-card-header>

      <ion-card-title>Sonic 2: La película </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Sonic y su compañero Tails emprenden un viaje alrededor del mundo en busca de una
      esmeralda que tiene del poder de destruir civilizaciones.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>