<ion-header>
  <ion-toolbar>
    <ion-title>videojuegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/fifa.png" />
    <ion-card-header>
      <ion-card-title>FIFA 23</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      FIFA 23 es un videojuego de simulación de fútbol publicado por Electronic Arts. Es la trigésima y última entrega
      de la serie FIFA desarrollada por EA Sports y lanzada en todo el
      mundo el 30 de septiembre de 2022 para PC, Nintendo Switch, PlayStation 4, PlayStation 5, Xbox One, Xbox Series
      X/S y Google Stadia
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Call of Duty: Black Ops II" src="assets/img/COD BLACK OP2.png" />
    <ion-card-header>
      <ion-card-title>Call of Duty: Black Ops II</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Call of Duty: Black Ops II es un videojuego de disparos en primera persona desarrollado por Treyarch y distribuido
      por Activision en 2012. Fue lanzado el 13 de noviembre de 2012 para PlayStation 3, Xbox 360 y Microsoft Windows,
      el 18 de noviembre de 2012 en América del Norte, y finalmente el 30 de noviembre de 2012 en Europa y Australia
      para la Wii U.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Sonic Frontiers" src="assets/img/sonic.png" />
    <ion-card-header>
      <ion-card-title>Sonic Frontiers </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Sonic Frontiers es un videojuego de plataformas desarrollado por Sonic Team y publicado por Sega.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Garena Free Fire" src="assets/img/free.png" />
    <ion-card-header>
      <ion-card-title>Garena Free Fire </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Garena Free Fire; también conocido como Free Fire Battlegrounds o simplemente Free Fire, es un videojuego battle
      royale,
      desarrollado por 111dots Studio y publicado por Garena para Android e IOS.Se convirtió en el juego móvil más
      descargado a nivel global en 2019. 
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Resident Evil 4" src="assets/img/resident.png" />
    <ion-card-header>
      <ion-card-title>Resident Evil 4</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Resident Evil 4, conocido en Japón como Biohazard 4, es un videojuego de acción-aventura y disparos
      en tercera persona de estilo terror y supervivencia desarrollado por Capcom Production Studio 4,
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Grand Theft Auto: San Andreas" src="assets/img/andreas.png" />
    <ion-card-header>
      <ion-card-title>Grand Theft Auto: San Andreas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Grand Theft Auto: San Andreas es un videojuego de acción-aventura de mundo abierto desarrollado por
      Rockstar North y publicado por Rockstar Games. 
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="God of War Ragnarok" src="assets/img/godofwar.png" />
    <ion-card-header>
      <ion-card-title>God of War Ragnarok </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      God of War Ragnarok es un videojuego de acción-aventura desarrollado por SCE Santa Monica Studio y publicado por Sony
      Interactive Entertainment.
      Su lanzamiento se produjo el 20 de abril de 2018 como un título exclusivo para la consola PlayStation 4.​
      Posteriormente, fue lanzado en Microsoft Windows el 14 de enero de 2022 
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>