.tittle-label{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 20px;
    color: black;
    text-shadow: -3px 3px #ffffff, 
    -3px -3px #ffffff, 
    3px -3px #ffffff, 
    3px 3px #f3f3f2, 
    6px 6px #0400ff;
}
.boton-rate{
    display:flex;
    justify-content: center;
}