<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="tittle-label">Lanzamiento</ion-label>

  <ion-card>
    <img alt="Avatar" src="assets/img/avatar.png" />
    <ion-card-header>
      <ion-card-title>Avatar</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Jake Sully y Ney'tiri han formado una familia y hacen todo lo posible por permanecer juntos.
      Sin embargo, deben abandonar su hogar y explorar las regiones de Pandora cuando una antigua amenaza
      reaparece.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="Creed 2" src="assets/img/Cr.png" />
    <ion-card-header>
      <ion-card-title>Creed 3</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Creed III es una próxima película de drama deportivo estadounidense dirigida
      por Michael B. Jordan a partir de un guion de Keenan Coogler y Zach Baylin.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-card>
    <img alt="La mujer Rey" src="assets/img/rey.png" />
    <ion-card-header>
      <ion-card-title>La mujer Rey </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      En la década de 1820, en África, una unidad militar exclusivamente
      femenina del reino de Dahomey se prepara para luchar contra las tropas invasoras del Imperio de Oyo, cuyo
      propósito es esclavizar a la población conquistada.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>


  <ion-label class="tittle-label">Sugerencias para ti </ion-label>



  <ion-card>
    <img alt="Reza por el Diablo" src="assets/img/reza.png" />
    <ion-card-header>
      <ion-card-title>Reza por el Diablo </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Una joven monja, la hermana Ann (Jacqueline Byers),
      se prepara para un exorcismo y se enfrenta a una fuerza demoniaca que está misteriosamente relacionada con
      su pasado.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>



  <ion-card>
    <img alt="l gato con Botas: Ultimo deseo" src="assets/img/gato.png" />
    <ion-card-header>
      <ion-card-title>El gato con Botas: Ultimo deseo</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El último deseo sigue las nuevas andanzas del temerario y valiente felino. En esta ocasión, el campestre
      personaje descubrirá el precio de su pasión por el peligro y el no tenerle miedo a la muerte.
      Gato ya ha consumido ocho de sus nuevas vidas, pero él ya ha perdido la cuenta por el camino.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>


  <ion-card>
    <img alt="Venus" src="assets/img/venus.png" />
    <ion-card-header>
      <ion-card-title>Venus</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Una bailarina roba una bolsa del club nocturno donde trabaja. Perseguida por una horda de matones, se
      esconde en el apartamento de su hermana.
      El problema es que el lugar donde ha decidido refugiarse parece albergar una amenaza más poderosa que los
      hombres que le quieren dar caza.
    </ion-card-content>
    <ion-button class="boton-rate" expand="full">
      Calificar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>